################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/AppNiZiAPI/.vs/AppNiZiAPI/v15/Server/sqlite3/db.lock
